@import url('./input-wrapper.css');
@import url('./register-form.css');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    padding: 0px;
}